{% extends 'base.html.twig' %}

{% block title %}Modifier un trajet{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier un trajet</h1>

        {{ form_start(editRide) }}
            {{ form_widget(editRide) }}

            <button class="btn btn-primary mt-3" type="submit">
                <i class="fas fa-edit"></i> Modifier
            </button>
        {{ form_end(editRide) }}
    </div>
{% endblock %}
