{% extends 'base.html.twig' %} {% block body %}
<div class="fix_Header"></div>
<div class="heroBanner">
  <h1>Touche pas a la bagnole ! Montes dedans.</h1>
</div>
<div class="blockContainer">
  <div class="leftSide">
    <img class="homeImg" src="{{ asset('images/img.jpg') }}" alt="Logo" />
  </div>
  <div class="rightSide">
    <div class="titleHomeContainer">
        <img class="homeImg" src="{{asset('images/recycle.svg')}}"alt="Logo" />
        <p class="titleHome" >Bonus de 10€ Eco-Citoyen</p>
    </div>
    <p class="textHome">Beneficiez d’un bonus de 10€ lors de votre premier trajet si vous possedez une voiture 100% électrique ou bien hybride dans le cadre de notre action écologique.</p>
  </div>
</div>

{% endblock %}
