.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logoImg {
    width: 300px;
  }
  .midSideContent {
    display: flex;
    justify-content: center;
    gap: 30px;
    .link {
      color: black;
      text-decoration: none;
      gap: 30px;
      
    }
    .link:hover{
      color: orangered;
    }
    
  }
  .rightSide {
    margin-right: 30px;

    .d-flex {
      gap: 20px;
      
    
    }

    .btn-orange {
      background-color: orangered;
      color: white;
      transition: background-color 0.3s ease;

    }
    .btn-orange:hover{
      transform: translateX(10px);
    }
    .btn-white {
      background-color: white;
      color: orangered;
      border: 1px solid orangered;
    }
    .btn-white:hover{
      transform: translateX(10px);
    }
  }
}
