<footer class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="mb-3">À propos de nous</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut velit sed nulla laoreet facilisis.</p>
            </div>
            <div class="col-md-4">
                <h5 class="mb-3">Liens utiles</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ path('home_page') }}" class="text-white">Accueil</a></li>
                    <li><a href="{{ path('app_ride') }}" class="text-white">Liste des annonces</a></li>
                    <li><a href="{{ path('app_profile') }}" class="text-white">Mon profil</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="mb-3">Nous contacter</h5>
                <p>Adresse : 123 rue du Tunning, 92800 Bagnolet</p>
                <p>Téléphone : 01 23 45 67 89</p>
                <p>Email : contact@mabagnole.com</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <p class="mb-0">&copy; 2023 CosaNostraa69. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>
